<%- include('../partials/header'); %>

<main class="main-404">
    <div class="container"> 
        <h2 class="header-h2">You went the wrong way</h2>
        <img src="/media/404notfound.gif" alt="a confused 404 gif" class="img-fluid w-100">
    </div>
</main>

<%- include('../partials/footer') %>