<%- include('../partials/header'); %>



    <main class="main main-home">
        <section class="section section-home">
            <div class="container">
                <h2 class="header-h2"> <%= name %></h2>
                
            </div>
            <div class="row">
                <div class="col-md-5">
                    <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus reiciendis eos sint non quo reprehenderit illum, doloremque necessitatibus distinctio quidem possimus architecto! Saepe quidem nobis nisi, minus inventore numquam dolores, aut deserunt earum assumenda veniam voluptas, suscipit cumque quam similique neque sunt! Debitis repellat quas nostrum, maxime quis pariatur illo omnis fuga obcaecati reiciendis nobis voluptates, molestiae quia corrupti ullam harum animi perferendis ab consequuntur est eveniet earum sint nisi tenetur. Doloremque ipsam amet accusantium odio corrupti nemo accusamus suscipit? Quidem officia nostrum, numquam minus voluptas necessitatibus reiciendis! Sequi ipsam, veritatis tempora ex dolore ut sit quaerat animi adipisci, officia totam unde maiores eum repudiandae aspernatur provident! Ab animi reprehenderit similique? Atque sed, impedit inventore placeat repellat tempore distinctio nostrum veniam architecto possimus consectetur pariatur assumenda animi velit excepturi rerum minima? Odio deserunt eum voluptatum quasi, quo provident eius. Blanditiis alias corporis dignissimos praesentium amet qui ratione neque vitae ipsam impedit sit eius temporibus harum id, labore eos eaque odio distinctio esse deleniti expedita quod eum possimus? Dolore fuga eos odio nobis eligendi dolorem fugiat iure minima, ut cupiditate. Delectus fugiat dolorem perspiciatis, nulla hic quibusdam accusamus itaque neque provident iusto corrupti doloremque nam omnis officiis quisquam aliquam facilis pariatur?</p>
                </div>
                <div class="col-md-7">
                    <img src="https://via.placeholder.com/350x350" alt="placeholder" class="img-fluid rounded-home-img" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="https://via.placeholder.com/200x200" alt="placeholder" class="img-fluid round-home-img second-row-img" />
                        <figcaption class="figure-caption">Lorem, ipsum dolor.</figcaption>
                    </figure>
                    
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="https://via.placeholder.com/200x200" alt="placeholder" class="img-fluid round-home-img second-row-img" />
                        <figcaption class="figure-caption">Lorem, ipsum dolor.</figcaption>
                    </figure>
                    
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="https://via.placeholder.com/200x200" alt="placeholder" class="img-fluid round-home-img second-row-img" />
                        <figcaption class="figure-caption">Lorem, ipsum dolor.</figcaption>
                    </figure>
                    
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="https://via.placeholder.com/200x200" alt="placeholder" class="img-fluid round-home-img second-row-img" />
                        <figcaption class="figure-caption">Lorem, ipsum dolor.</figcaption>
                    </figure>
                    
                </div>
            </div>
        </section>
    </main>

<%- include('../partials/footer'); %>
    
</body>
</html>